<p>
  <strong>Titulo:</strong>
  <%= @article.titulo %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @article.bajada %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @article.cuerpo %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<h2>Agregar un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to 'Editar', edit_article_path(@article) %> |

<%= link_to 'Administrar', articles_path %> |

<%= link_to 'Inicio', root_path %>
