<h1>Bienvenidos!!!</h1>
<h1>Ultimas Noticias</h1>

  <% @articles10.each do |article| %>
    <div class="articulo">
      <h3>Titulo:</h3>
      <h3><%= article.titulo %></h3>
      <h4>Bajada:</h4>
      <article><%= article.bajada %></article>
      <h4>Cuerpo:</h4>
      <article><%= article.cuerpo %></article>
      <p>Creado: <%= article.created_at %></p>
      <p>Número de comentarios: <%= article.comments.length %></p>
      <%= link_to 'Mostrar', article_path(article) %>
    </div>
  <% end %>

<%= link_to 'Administrar', controller: 'articles' %>
